<header>
    <div class="menu"><a href="/">Дом</a></div>
    <div class="menu"><a href="/posts">Посты</a></div>
    <div class="menu"><a href="/add-post"> Создать пост</a></div>
    <div class="menu"><a href="/contacts">Контакты</a></div>
</header>